# 5.3 논리 및 정보 함수

In [1]:
import pandas as pd  
fruit=pd.read_excel(r"D:\works\source\chapter05\과일 주문.xlsx",sheet_name="Sheet1")
fruit

    품목   수량    단가       금액       판매일자       유통기한       비고
0   사과  100  1500   150000 2021-09-05 2021-10-31  20만원 미만
1    귤  500   500   250000 2021-09-12 2021-10-31  20만원 이상
2    배  150  2000   300000 2021-10-09 2021-11-10  20만원 이상
3   참외  250  1200   300000 2021-10-12 2021-11-10  20만원 이상
4  한라봉  100  2500   250000 2021-11-10 2021-12-10  20만원 이상
5  토마토  800  2000  1600000 2021-11-23 2021-12-10  50만원 이상
6   포도  200  3500   700000 2021-12-17 2021-12-20  50만원 이상
7   딸기  100  1200   120000 2021-12-18 2021-12-20  20만원 미만
8   망고  200  3000   600000 2021-12-20 2021-12-31  50만원 이상
9   수박  300  6000  1800000 2021-12-20 2021-12-31  50만원 이상

### 조건 함수 사용  
    * 조건식의 결과에 따라 별도 작업 수행  
        - 조건을 판단 후 특정 위치의 값을 변경하려면 for문과 if 문 사용  
        - for 문에 enumerate()함수를 같이 사용하면 데이터 프레임의 자료를 인덱스와 함께 불러올 수 있음   
        - if~elif~else -> 조건에 따라 코드 실행
        - enumerate(변수) -> 변수 내 값과 인덱스 반환

In [2]:
fruit=pd.read_excel(r"D:\works\source\chapter05\과일 주문.xlsx", sheet_name="Sheet1")
fruit["비고"]=""
for idx, x in enumerate(fruit["금액"]):
    if x>=500000:
        fruit["비고"].loc[idx]="50만원 이상"
    elif x>=200000:
        fruit["비고"].loc[idx]="20만원 이상"
    else:
        fruit["비고"].loc[idx]="20만원 미만"
fruit.head(6)

C:\Users\dmsco\AppData\Local\Temp\ipykernel_19680\2129280231.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fruit["비고"].loc[idx]="20만원 미만"
C:\Users\dmsco\AppData\Local\Temp\ipykernel_19680\2129280231.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fruit["비고"].loc[idx]="20만원 이상"
C:\Users\dmsco\AppData\Local\Temp\ipykernel_19680\2129280231.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fruit["비고"].loc[idx]="50만원 이상"

    품목   수량    단가       금액       판매일자       유통기한       비고
0   사과  100  1500   150000 2021-09-05 2021-10-31  20만원 미만
1    귤  500   500   250000 2021-09-12 2021-10-31  20만원 이상
2    배  150  2000   300000 2021-10-09 2021-11-10  20만원 이상
3   참외  250  1200   300000 2021-10-12 2021-11-10  20만원 이상
4  한라봉  100  2500   250000 2021-11-10 2021-12-10  20만원 이상
5  토마토  800  2000  1600000 2021-11-23 2021-12-10  50만원 이상

### 날짜 및 시간 함수   
    * 날짜형 포맷 출력 시 사용하는 datetime 자료형  
    * 날짜 계산 시 사용하는 timedelta 자료형   
        - pd.to_datetime() -> 문자열 데이터를 날짜형 데이터로 변환
        - pd.dt.day -> datetime자료형에서 일자만 출력
        - pd.dt.days -> timedelta자료형에서 일자만 출력
        - pd.datetime.now() -> 오늘 날짜 출력

In [4]:
fruit=pd.read_excel(r"D:\works\source\chapter05\과일 주문.xlsx", sheet_name="Sheet1")
pd.to_datetime(fruit["판매일자"])
pd.to_datetime(fruit["유통기한"])
fruit["판매일"]=fruit["판매일자"].dt.day
fruit["오늘 날짜"]=pd.datetime.now()
fruit["유통기한 경과일수"]=(fruit["오늘 날짜"]-fruit["유통기한"]).dt.days
fruit.head()

C:\Users\dmsco\AppData\Local\Temp\ipykernel_19680\278845954.py:5: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  fruit["오늘 날짜"]=pd.datetime.now()

,품목,수량,단가,금액,판매일자,유통기한,비고,판매일,오늘 날짜,유통기한 경과일수
0,사과,100,1500,150000,2021-09-05,2021-10-31,20만원 미만,5,2023-04-30 15:59:24.243926,546
1,귤,500,500,250000,2021-09-12,2021-10-31,20만원 이상,12,2023-04-30 15:59:24.243926,546
2,배,150,2000,300000,2021-10-09,2021-11-10,20만원 이상,9,2023-04-30 15:59:24.243926,536
3,참외,250,1200,300000,2021-10-12,2021-11-10,20만원 이상,12,2023-04-30 15:59:24.243926,536
4,한라봉,100,2500,250000,2021-11-10,2021-12-10,20만원 이상,10,2023-04-30 15:59:24.243926,506

In [8]:
from datetime import datetime
time1=datetime(2019,10,1,15,30,1)
time2=datetime.now()
print((time2-time1).days, "일")
print((time2-time1).seconds, "초")
print((time2-time1).seconds/3600,"시간")

1307 일
1929 초
0.5358333333333334 시간